@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Praise&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rokkitt:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: #333;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 9%;
    z-index: 99;
    background: #fff;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
}
.logo{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 25px;
}
#cart-icon{
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
}
#cart-icon .cart-item-count{
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #eb1717;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    cursor: pointer;
}
.shop{
    padding: 100px 9% 30px;
    background-color: whitesmoke;
}
.section-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;

}
.products-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    
}
.product-box{
    background-color: #fff;
    padding: 25px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}
.product-box:hover{
    transform: scale(1.1);
    

}
.product-box .img-box{
    display: flex;
    overflow: hidden;
}
.img-box img{
    width: 300px;
    height: 58vh;
}
.product-title{
    font-size: 20px;
    margin-top: 10px;
}
.product-box .price-and-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-and-cart .price{
    font-size: 18px;
    font-weight: 500;
}
.price-and-cart .add-cart{
    padding: 10px;
    background: #eb1717;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}
.cart{
    position: fixed;
    top: 0;
    right: -440px;
    width: 360px;
    height: 100%;
    background: whitesmoke;
    box-shadow: -2px 0 rgba(0, 0, 0, 0.1);
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}
.cart.active{
    right: 0;
}
.cart-tile{
    text-align: center;
    font-size: 30px;
}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-details{
    display: grid;
    gap: 8px;
    margin-right: auto;
}
.cart-product-title{
    font-size: 16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 6px;
}
.cart-quantity button{
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.cart-quantity #decrement{
    color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}
.cart-remove{
    font-size: 25px;
    cursor: pointer;
}
.total{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;
}
.total-price{
    margin-left: 10px;
    font-weight: 600;
}
.btn-buy{
    display: block;
    padding: 10px 30px;
    background: #eb1717;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
}
#cart-close{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 360px){
    .products-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .cart{
        width: 100%;
    }
}






